<!DOCTYPE=HTML>
<html>
<head>
</head>
<title></title>
<body>
  <h1>Welcome!</h1>
  <h2>Choose a material to get a list of projects that you can make</h2>
  <form action="/results" method="get">

    <div id="Materials">

    Wood: <input type="checkbox" id="wood" name="wood"><br/>

    Mod Podge: <input type="checkbox" id="mod podge" name="mod podge"><br/>

    Neodymium Magnets: <input type="checkbox" id="neodymium magnet" name="neodymium magnet"><br/>

    Conductive Metal Tape: <input type="checkbox" id="conductive metal tape" name="conductive metal tape"><br/>

    Radios: <input type="checkbox" id="3 old radios" name="3 old radios"><br/>



  </div>
    <input type="submit" value="Selection">
  </form>

</body>
</html>
