<!DOCTYPE=HTML>
<html>
<head>
</head>
<title></title>
<body>
  <h1>Welcome!</h1>
  <h2> View <a href ='\resources'>Resources</a>
  <h2>Choose a material to get a list of projects that you can make</h2>
  <form action="/results" method="get">

    <div id="Materials">

    Wood: <input type="checkbox" id="wood" name="wood"><br/>

    Mod Podge: <input type="checkbox" id="mod podge" name="mod podge"><br/>

    Neodymium Magnets: <input type="checkbox" id="neodymium magnet" name="neodymium magnet"><br/>

    Conductive Metal Tape: <input type="checkbox" id="conductive metal tape" name="conductive metal tape"><br/>

    Radios: <input type="checkbox" id="3 old radios" name="3 old radios"><br/>

    Coin Cell Battery: <input type="checkbox" id="cell" name="cell"><br/>

    Leather: <input type="checkbox" id="leather" name="leather"><br/>

    Water Bottle: <input type="checkbox" id="water bottle" name="water bottle"><br/>

    Metal Rings: <input type="checkbox" id="metal rings" name="metal rings"><br/>

    Beginner Electronics Parts: <input type="checkbox" id="beginner electronics parts" name="beginner electronics parts"><br/>

    Candles: <input type="checkbox" id="candles" name="candles"><br/>

    Piano Wire: <input type="checkbox" id="piano wire" name="piano wire"><br/>

    Carrots: <input type="checkbox" id="carrot" name="carrot"><br/>

  </div>
    <input type="submit" value="Selection">
  </form>

</body>
</html>
