<!DOCTYPE=HTML>
<html>
<head>
</head>
<body>
<h1> Resources</h1>
<h3> Sometimes it can seem that there's no one around you doing the projects you want to be doing. It can be helpful to check some of these resources to see if they can be options for you.</h3>
<h2>Physical Places to Get Materials</h2>
<ul>
  <li> Your local recycling center:
  <br/> look for something that catches your eye or from something on this website's checklist.</li>
  <li> Thrift stores, junk stores, yard sales:
  <br/>  Same as above. These places usually have cheap electronics that you can hack.</li>
  <li> The woods : <br/>fallen wood is a great resource for whittlers and crafts can be made out of other woodly finds like nut shells and small fallen branches.</li>
  <li> Kitchen Supplies : <br/>Kitchen supplies can be used for more than just cooking and baking. They can also be used for electronics or crafts.</li>
  <li> Your own trash : </br> Find some trash and google how to turn it into a treasure. </li>
</ul>
<h4>Note on Electronics: If you find old circuits, you can desolder them with a desoldering wick and use the components to make new circuits.</h4>

<h2>Places Online to Get Materials</h2>
<h4> Amazon, Ebay and Walmart are good websites to start looking for materials. Some specialized ones are:</h4>
<ul>
  <li> <a href ='https://www.digikey.com/'>Digi Key</a> for electronics</li>
    <li> <a href ='https://www.adafruit.com/'>Adafruit</a> for more complex, but more expensive electronics components</li>
      <li> <a href ='https://www.utrechtart.com/'>Utrecht Art supplies</a> for art projects</li>
        <li> <a href ='https://www.mcmaster.com/#'>McMaster-Carr</a> for mechanical projects</li>
          <li> <a href ='https://www.harborfreight.com/'>Harbor Freight</a> for low cost tools and power tools</li>
        </ul>
<h4> There's a bunch of places online that sell kits. Here are some to get started:</h4>
  <ul>
  <li> <a href ='http://www.thereminworld.com/theremin-kits'>Want to make a theremin?</a> Get a theremin kit!</li>
  <li> <a href= 'https://www.etsy.com/listing/464904310/beginners-sewing-kit-3-easy-sewing?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=learn%20to%20sew%20kit&ref=sr_gallery-1-2'>Sewing Kit</a> : Find sewing kits like these on Etsy</li>
  <li> <a href ='http://www.thompsonsknives.com/kit.html'>Knife Making Kit</a> for beginners</li>

</ul>
<h4> Finally, forums can be helpful places to ask for advice. If you feel passionate about a type of project, try to find a forum for it</h4>
<h2>Places to Get Tools</h2>
<ul>
  <li> Construction Stores:<br/>
    Some construction stores lend out tools for weekend projects. If you want to make a woodworking project but don't have the power tools for it, this would be a great opportunity to try it out.</li>
  <li> Electronic Stores: <br/>
    Sometimes they're hard to find. In those cases, try asking at similar stores or order online. Electronics stores have a lot of fun kits, too!
  <li> Makerspaces or Fablabs: <br/>
    There usually is a membership fee to be part of one of these organizations, but they have open hours for the public and you can ask the makers there about your project.</li>
  </ul>
</body>
</html>
