<!DOCTYPE+HTML>
<html>
<head>
</head>
<body>
<h1> Resources</h1>
<h3> Sometimes it can seem that there's no one around you doing the projects you want to be doing. It can be helpful to check some of these resources to see if they can be options for you.</h3>
<h2>Physical Places to Get Materials</h2>
<ul>
  <li> Your local recycling center</li>
  <li> Thrift stores, junk stores, yard sales </li>
  <li> The woods : <br/>fallen wood is a great resource for whittlers and crafts can be made out of other woodly finds like nut shells and small fallen branches</li>
  <li> Kitchen Supplies : <br/>Kitchen supplies can be used for more than just cooking and baking. They can also be used for electronics or crafts</li>
  <li> Your own trash : </br> Find some trash and google how to turn it into a treasure </li>
</ul>
<h4>Note on Electronics: If you find old circuits, you can desolder them with a desoldering wick and use the components to make new circuits</h4>

<h2>Places Online to Get Materials</h2>
<h4> There's a bunch of places online that sell kits. Here are some to get started:</h4>
  <ul>
  <li> Theremin Kit : </br> Want to make a theremin? </li>
</ul>
<h2>Places to Get Tools</h2>
<ul>
  <li> Construction Stores:<br/>
    Some construction stores lend out tools for weekend projects</li>


</body>
</html>
