<!DOCTYPE+HTML>
<html>
<head>
</head>
<body>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Project</th>
      <th>Link</th>
      <th>Category</th>
      <th>Materials</th>
      <th>Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Wooden Spoon</td>
      <td><a href=”http://www.instructables.com/id/DIY-Hand-carved-wooden-spoons/”>Spoons</a></td>
      <td>woodworking</td>
      <td>wood</td>
      <td>carving knife, spoon gouge, sandpaper, pencil</td>
    </tr>
    <tr>
      <td>Wooden Chopsticks</td>
      <td><a href="https://www.w3schools.com/" target="_blank">Visit W3Schools!</a></td>
      <td>woodworking</td>
      <td>wood</td>
      <td>knife, sandpaper, pencil</td>
    </tr>
    <tr>
      <td>Mod-Podged Picture on Wood\n</td>
      <td><a href=”https://www.homedit.com/mod-podge-photo-transfer/”>Picture</a></td>
      <td>Crafts</td>
      <td>wood, mod podge, printed picture</td>
      <td>NaN</td>
    </tr>
  </tbody>

</body>
</html>
